<div class="row" id="showjob">
    <span id="jobs">Có <span id="num"></span> Công ty tại <%=name  %></span>
    <hr>
</div>
<hr>
<div class="row">
    <div class="col-lg-12 " >
        <div class="row">
            <div class="col-lg-4 col-6" style="text-align: center;margin-bottom: 30px;">
                <div class="card" style="text-align:center">
                    <div class="avatar" style="background-image: url(../public/image/bg-axon.jfif);height: 200px;">
                        <a href="/companies/axon"><img alt="" src="../public/image/logo-axon.png" height="60px" width="60px" style=" margin-top: 160px;"></a>
                    </div>
                    <div class="info" style="margin-top: 25px;">
                        <div class="title">
                            <h5>AXON</h5>
                        </div> 
                        <div class="desc">At Deliveree, we disrupt the logistics industry with technologies.</div>
                    </div>
                    <div class="title">
                        <div class="desc float-left" style="margin-left: 5px;">Hà Nội</div>
                        <div class="desc float-right" style="margin-right: 5px;">Có 3 công việc</div>
                    </div>
                    <div class="rating" style="border-top:1px solid whitesmoke ">
                        <i class="fas fa-star text-warning"></i> <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i> </span><i class="fas fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                        <h6 class="rating">
                            4.0</h6>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 col-6" style="text-align: center;margin-bottom: 30px;">
                <div class="card" style="text-align:center">
                    <div class="avatar" style="background-image: url(../public/image/bg-axon.jfif);height: 200px;">
                        <a href="#axon"><img alt="" src="../public/image/logo-axon.png" height="60px" width="60px" style=" margin-top: 160px;"></a>
                    </div>
                    <div class="info" style="margin-top: 25px;">
                        <div class="title">
                            <h5>AXON</h5>
                        </div> 
                        <div class="desc">At Deliveree, we disrupt the logistics industry with technologies.</div>
                    </div>
                    <div class="title">
                        <div class="desc float-left" style="margin-left: 5px;">Hà Nội</div>
                        <div class="desc float-right" style="margin-right: 5px;">Có 3 công việc</div>
                    </div>
                    <div class="rating" style="border-top:1px solid whitesmoke ">
                        <i class="fas fa-star text-warning"></i> <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i> </span><i class="fas fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                        <h6 class="rating">
                            4.0</h6>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<script>
$('.sel select').change(function(){
    var company = $(this).val();
      $.ajax({
          type: 'GET',
          url: '/XulySearch/company',
          data: {
            name: company ,
          },
          success: function(data){
            if(data == ""){

            }else {
              $('#search-list').html(data);
            }
          }
    
    })
})</script>