<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-md bg-white" style=" border: 1px solid #e3e3e3 ">
        <form id='editprofile' enctype="multipart/form-data" action="/admin/edit_post_job" method="post" >
            <div class="container" style="width:90%">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="card w-100" style="border: none;max-width: 18rem;">
                            <h2 class="text-center mt-3"><%= companies %> Tuyển dụng</h2>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center mbt-4">
                        <div class="card" style="border: none;max-width: 22rem;">
                            <img id='avt' src="<%=logo%>"  class="rounded-circle card-img-top" alt="..." style="border: 1px solid #e3e3e3;">
                            <input type="text" class="check form-control w-50" value="<%=logo%>" name="logo" style="display: none;"/>
                        </div>
                    </div>
                </div>
                <div class="row register-form mt-3">
                    <div class="col-md-12 ">
                        <div class="form-group d-flex justify-content-center">
                            <input type="text" class="check form-control w-50" name="job_name" placeholder="Tên công việc " required/>
                        </div>                      
                        <div class="form-group d-flex justify-content-center">
                            <input type="text" class="form-control w-50" name='job_address' placeholder="Địa chỉ nơi làm việc"  required/>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <input type="text" class="form-control mr-2" style="width:35%" name='job_salary' placeholder="Mức lương"  required/>
                            <select id='sel'name='unit' class="custom-select browser-default " style="width:10%">
                                <option value="" class="hidden"  selected disabled>Đơn vị</option>
                                <option value="VND">VND</option>
                                <option value="USA">USA</option>
                            </select>
                            <button type="button" class="btn btn-primary" style="margin-left: 4px;" data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <input type="text" class="form-control w-50" name='skills' placeholder="Các kỹ năng" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="ml-2">Mô tả</h4>
                        <div class="card w-100 mt-0" style="border: none;">
                            <div class="card-body mt-0 pt-0" style="padding-bottom: 5px;">
                                <div class="form-group shadow-textarea">
                                    <label for="exampleFormControlTextarea6">Mô tả công việc</label>
                                    <textarea id='format_descript' class="form-control z-depth-1" name="descript"  id="exampleFormControlTextarea6" rows="3" placeholder="Sử dụng CMS (như WordPress) hoặc những kỹ thuật như HTML, CSS, JavaScript (AngularJS/ ReactJS/ VueJS) v.v.
Lên kế hoạch, thiết kế, tạo Website mới." required></textarea>
                                </div>
                            </div>
                        </div>
                        <h4 class="ml-2">Yêu cầu về công việc</h4>
                        <div class="card w-100 mt-0" style="border: none;">
                            <div class="card-body mt-0 pt-0" style="padding-bottom: 5px;">
                                <div class="form-group shadow-textarea">
                                    <label for="exampleFormControlTextarea6">Về kỹ năng và trình độ</label>
                                    <textarea id='format_req_skill' class="form-control z-depth-1" name="req_skill"  id="exampleFormControlTextarea6" rows="3"
                                    placeholder="Bachelor’s degree in Mathematics, Computer Science, Economics, or related fields.
4+ years experience as a data analyst, reporting data analytics is preferred." required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card w-100 mt-0" style="border: none;">
                            <div class="card-body mt-0 pt-0" style="padding-bottom: 5px;">
                                <div class="form-group shadow-textarea">
                                    <label for="exampleFormControlTextarea6">Các yêu cầu khác</label>
                                    <textarea id='format_req_additional' class="form-control z-depth-1" name="req_additional"  id="exampleFormControlTextarea6" rows="3" 
                                    placeholder="At least 4 years working in a data analytics reporting role.
Demonstrated experience in design, develop and maintain"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                 <div class="d-flex justify-content-center mb-3">
                    <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Thêm công việc</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name"  class="col-form-label">Tên công việc:</label>
                    <input type="text" class="form-control" id="addname">
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary save">Save changes</button>
            </div>
          </div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="../../public/css/tagsinput.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../../public/css/companies.css">
<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap_file_field.css">
<script type="text/javascript" src="../../public/js/bootstrap_file_field.js"></script>
<script src="../../public/js/tagsinput.js"></script>
<style>
    .bootstrap-tagsinput{
        width: 50%;
    }
</style>
<script>
    $(document).ready(function(){
        var skills = [ "JavaScript","PHP","C++","C#","Python","Java","Nodejs","MongoDB","Ruby","AI","Css/Boostrap","MySQL","Elasticsearch","Cassandra","FondEnd","BackEnd","Scala","Swift","TypeScript","Objective-C","English","SQL","Android",".NET"];
        var skills = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: skills
        });
        $('input[name="skills"]').tagsinput({
            typeaheadjs: {
            name: 'skills',
            source: skills
            }
        });
        $('.save').click(function(){
               let addname =  $('#addname').val();
               if(addname !== ''){
                $('#sel').append( '<option value="'+addname+'">'+addname+'</option>');
                $('.save').attr("data-dismiss","modal");  
               }
            });
            function formattext (id){
                var key = window.event.keyCode;
                if (key === 13) {
                    id.val(id.val()+"*")
                return false;
            }
                else {
                    return true;
                }
            }
            $('#format_descript').keypress(function(){
                formattext ($('#format_descript'));
            })
            $('#format_req_skill').keypress(function(){
                formattext ($('#format_req_skill'));
            })
            $('#format_req_additional').keypress(function(){
                formattext ($('#format_req_additional'));
            })

    })
</script>
</html>