<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/registrationad.css">
    <link href="../../public/css/agency.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('../elements/headerjob'); -%>
        </div>
            <div class="row register">
                <div class="col-md-3 register-left">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    <h3>Welcome to Viec-JOB</h3>
                    <p>Trở thành nhà tuyển dụng tốt nhất</p>
                    <input type="submit" name="" value="Login"/><br/>
                </div>
                <div class="col-md-9 register-right">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bước 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bước 2</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Trở thành nhà tuyển dụng</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Company Name " value="" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Company Website " value="" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your title " value="" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"  placeholder="How many employees ?" value="" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Country" value="" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Address " value="" required/>
                                    </div>
                                    <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Phone " value="" required/>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option class="hidden"  selected disabled>Your Work</option>
                                            <option>Product</option>
                                            <option>Outsourcing</option>
                                        </select>
                                    </div>  
                                </div>             
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h3  class="register-heading">Bạn sẽ là nhà tuyển dụng</h3>
                            <div class="row register-form">
                                    <div class="col-md-3"></div>
                                     <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email " value="" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password *" value="" required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password *" value="" required/>
                                    </div>
                                        <input type="submit" class="btnfinal"  value="Register"/>
                                    </div>
                                    <div class="col-md-3"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("nav-link").click(function(){
                $(this).tab('show');
            });
            $('.click').click(function(){
                $(this).tab('show');
            })
        })
    </script>
</html>