<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/registrationad.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/formlogin.css">
    <link href="../../public/css/agency.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('../elements/headerjob'); -%>
            <%- include('../elements/formlogin'); -%>
        </div>
        <div class="row register">
                <div class="col-md-3 register-left">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                    <h3>Welcome to Viec-JOB</h3>
                    <p>Trở thành nhà tuyển dụng tốt nhất</p>
                    <input class="sm-login" type="submit" name="" value="Đăng nhập"/><br/>
                </div>
                <div class="col-md-9 register-right">
                    <div class="tab-content" id="myTabContent">
                            <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Trở thành nhà tuyển dụng</h3>
                                <form action="/admin/signup" method="post" class="needs-validation" novalidate>
                                    <div class="row register-form">
                                        <div class="col-md-6">                       
                                            <div class="form-group">
                                                <input type="text" class="form-control" name='namecpn' placeholder="Company Name "  required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name='link' placeholder="Company Website "  required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name='title' placeholder="Your title "  required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name='member'  placeholder="How many employees ?" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="country" placeholder="Your Country" required/>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone " value="" required/>
                                            </div>
                                            <div class="form-group ">
                                            <input type="text" class="form-control" name='address'  placeholder="Your Address " required/>
                                            </div>
                                            <div class="form-group">
                                                <select class="custom-select browser-default" required>
                                                    <option value="" class="hidden"  selected disabled>Your Work</option>
                                                    <option value="Product">Product</option>
                                                    <option value="Outsourcing">Outsourcing</option>
                                                </select>
                                            </div>  
                                        </div>
                                        <div class="form-group col-md-12 d-flex justify-content-center">
                                            <input type="text" class="form-control w-50" placeholder="Email "required/>
                                        </div>
                                        <div class="form-group col-md-12 d-flex justify-content-center">
                                            <input type="password" class="form-control w-50" placeholder="Password *"  required/>
                                        </div>
                                        <div class="form-group col-md-12 d-flex justify-content-center">
                                            <input type="password" class="form-control w-50" placeholder="Confirm Password *" required/>
                                        </div>
                                        <div class=" col-md-12 d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary w-50">Đăng ký</button> 
                                        </div>
                                          
                                    </div>
                                </form> 
                            </div>
                    </div>
                </div>
        </div>
        <div class="row login" style="margin-top: 100px;">
            <%- include('login'); -%>
        </div>
    </div>
</body>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../public/js/forms.js"></script>
    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
                });
            }, false);
            })();
        $(document).ready(function(){
            $('.login').hide();
            $('.sm-login').click(function(){
                $('.login').show('slow');
                $('.register').hide();

            });
            $("nav-link").click(function(){
                $(this).tab('show');
            });
            $('.click').click(function(){
                $(this).tab('show');
            });
            $(".nav-tabs a").click(function(){
                $(this).tab('show');
            });
            $('.check').click(function(){
                $('#profile').addClass('active');
                $('#home').removeClass('active');
            })
            $('.back').click(function(){
                $('#home').addClass('active');
                $('#profile').removeClass('active');
            })
        })
    </script>
</html>