<div class="container" style="background-color: white;">
    <div class="row">
        <img src="../../public/image/grap-bg.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="row">
        <div class="card w-100 " style="border:none">
            <div class="row no-gutters">
                <div class="col-3 ">   
                    <a href=""><img src="../../public/image/logo-grab.jpg" height="200" class="card-img" alt="..." style="margin-top:10px;margin-bottom:10px;"></a>
                </div>
                <div class="col-6">
                    <div class="card-body" style="padding-top: 5px;">
                        <p class="card-title" >Grab (Vietnam) Ltd.</p>
                            <div class="company-info"> 
                              <p>
                               <i class="fas fa-map-marker-alt"></i>
                                 District 4, Ho Chi Minh
                               </p>
                               <p><i class="fas fa-users"></i> 
                                 301-500
                               </p>
                               <p><i class="fas fa-flag-usa"></i>
                                 United States
                              </p>
                              <p><i class="fas fa-calendar-alt"></i>
                                 Monday - Friday</p>
                            </div>
                    </div>
                </div>
                <div class="col-3 text-center" >
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 10px;">
   <div class="row container-md">
       <div class="col-sm-8 col-12" style="max-width: 78%;margin-right: 15px;height: auto;">
            <div class="row" style="background-color:white"> 
                <div class="card w-100" style="border: none;">
                    <div class="card-body">
                    <h2 class="card-title text-center">JOIN US ON MISSION INCREDIBLE</h2>
                    <ul>
                        <li><h5 class="card-text">Giới thiệu</h5>
                            <ul>
                                <li>
                            <p class="card-text">Grab is more than just the leading ride-hailing and mobile payments platform in Southeast Asia. 
                                We use data and technology to improve everything from transportation to payments and financial services across a 
                                region of more than 620 million people. We work with Working with governments, drivers, passengers, merchants, 
                                and the community, to solve critical problems in Southeast Asia.</p>
                            </li>
                            <li>
                                <p class="card-text">Grab began as a taxi-hailing app in 2012, but we have since extended our product platform to include GrabCar, G
                                    rabShare, GrabBike, GrabHitch, GrabExpress, GrabFood, GrabCoach, GrabShuttle, GrabCycle.</p>
                            </li>
                            </ul>
                        </li>
                        <li><h5 class="card-text">Môi trường làm việc</h5>
                            <ul>
                                <li>
                            <p class="card-text">We focus on building and nurturing the best engineering talents from diverse academic backgrounds and industry experiences to strategize and execute high profile projects through data-driven methodologies.</p>
                            </li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card w-100 "  style="border: none;">
                    <div class="card-body">
                        <h5 class="card-title">Chuyên Môn Của Chúng Tôi</h5>
                        <div class="skills">
                            <a href="#java">Java</a>
                            <a href="#php">PHP</a>
                            <a href="#js">JavaScript</a>
                        </div>
                        <ul>
                            <li>
                            <p class="card-text">Core tech stack: Golang, Redis, MySQL, Redshift, Postgres, Cassandra, Spark.</p>
                            </li>
                            <li>
                                <p class="card-text">Mobile app platform coverage: Native iOS and Android.</p>
                            </li>
                            <li>
                                <p class="card-text">AWS cloud infrastructure with auto-scaling abilities.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color:white ;margin-top: 10px;"> 
                <div class="card w-100" style="border: none;">
                    <div class="card-body">
                    <h2 class="card-title text-center">JOIN US ON MISSION INCREDIBLE</h2>
                    <ul>
                        <li><h5 class="card-text">Giới thiệu</h5>
                            <ul>
                                <li>
                            <p class="card-text">Grab is more than just the leading ride-hailing and mobile payments platform in Southeast Asia. 
                                We use data and technology to improve everything from transportation to payments and financial services across a 
                                region of more than 620 million people. We work with Working with governments, drivers, passengers, merchants, 
                                and the community, to solve critical problems in Southeast Asia.</p>
                            </li>
                            <li>
                                <p class="card-text">Grab began as a taxi-hailing app in 2012, but we have since extended our product platform to include GrabCar, G
                                    rabShare, GrabBike, GrabHitch, GrabExpress, GrabFood, GrabCoach, GrabShuttle, GrabCycle.</p>
                            </li>
                            </ul>
                        </li>
                        <li><h5 class="card-text">Môi trường làm việc</h5>
                            <ul>
                                <li>
                            <p class="card-text">We focus on building and nurturing the best engineering talents from diverse academic backgrounds and industry experiences to strategize and execute high profile projects through data-driven methodologies.</p>
                            </li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="card w-100 "  style="border: none;">
                    <div class="card-body">
                        <h5 class="card-title">Chuyên Môn Của Chúng Tôi</h5>
                        <div class="skills">
                            <a href="#java">Java</a>
                            <a href="#php">PHP</a>
                            <a href="#js">JavaScript</a>
                        </div>
                        <ul>
                            <li>
                            <p class="card-text">Core tech stack: Golang, Redis, MySQL, Redshift, Postgres, Cassandra, Spark.</p>
                            </li>
                            <li>
                                <p class="card-text">Mobile app platform coverage: Native iOS and Android.</p>
                            </li>
                            <li>
                                <p class="card-text">AWS cloud infrastructure with auto-scaling abilities.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       <div class="col-sm-4 col-0" style="max-width: 32%;">
        <div class=" row dv1" style="height: 30%;background-color: white;" >

        </div>
        <div class="row dv1" style="height: 30%;">

        </div>
       </div>
   </div>
</div>