<div class="container" style="background-color: white;border: 1px solid #e3e3e3;">
    <div class="row" >
        <div class="col-sm-12">
            <center>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../../public/image/job1.png">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../public/image/job1.png">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../public/image/job1.png">
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </center>
        </div>
    </div>
    <div class="container" style="margin-top: 20px; margin-bottom: 10px;">
        <div class="row">
            <div class="col-sm-4 company"  >
                <div class="card w-90" style="background-color: whitesmoke;margin-bottom: 5px; border:none">
                    <img class="card-img-top" src="../../public/image/logo-grab.jpg" alt="Card image cap">
                    <div class="card-body" >
                     <h5 class="card-title" style="text-align:center"><a href="/companies/Grab(Vietnam)Ltd.">Grab (Vietnam) Ltd.</a></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <table class="table" style="margin-bottom: 10px;">
                            <tr>
                                <td style="width: 10% ;"><i class="fas fa-cogs"></i></td>
                                <td><p class="card-text" style="line-height: 1.5 ;"> Product</p></td>
                            </tr>
                            <tr>
                                <td style="width: 10%"><i class="fas fa-users"></i></td>
                                <td><p class="card-text " style="line-height:1.5"> 100-500</p></td>
                            </tr>
                            <tr>
                                <td style="width: 10%"><i class="fas fa-flag-usa"></i></td>
                                <td><p class="card-text" style="line-height: 1.5"> Viet Nam</p></td>
                            </tr>
                            <tr>
                                <td style="width: 10%"><i class="fas fa-calendar-alt"></i></td>
                                <td><p class="card-text" style="line-height: 1.5"> Thứ 2 - Thứ 6</p></td>
                            </tr>
                        </table>
                        <center>
                            <a href="#" class="card-link" >3 Job <i class="fas fa-search-plus"></i></a>
                            <a href="/companies/Grab(Vietnam)Ltd." class="card-link" style="margin-top:15px" >Thông tin <i class="fas fa-arrow-right"></i></a>
                        </center>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="card w-100  border-bottom" style="border:none ; margin-top: 0px;">
                        <div class="card-body" style="padding-top: 0px;">
                          <h2 class="card-title font"><%= title %> (Java, Linux, English)</h2>
                          <div class="skills">
                            <a href="#java">Java</a>
                            <a href="#php">PHP</a>
                            <a href="#js">JavaScript</a>
                          </div>
                          <div class="intro-job">
                            <p style="margin-bottom: 2px;"><i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a></p>
                            <p style="margin-bottom: 2px"><i class="fas fa-map-marker-alt"></i>  3rd floor, PaxSky Building, 26 Ung Van Khiem, Ward 25, Binh Thanh, Ho Chi Minh</p>
                            <p style="margin-bottom: 10px; color: #58595b"><i class="far fa-calendar-alt"></i>  2 day ago</p>
                        </div>
                          <a href="#" class="btn btn-primary btn-lg btn-block w-85" data-toggle="modal" data-target="#myModal" id="ungtuyen">Ứng Tuyển</a>
                        </div>
                    </div>
                </div>
                <div class="row bonus-job font">
                    <div class="card w-100" style="border:none; ">
                        <div class="card-body">
                          <h5 class="card-title">3 Lý Do Để Gia Nhập Công Ty </h5>
                          <ul>
                              <li> <p class="card-text">Twice performance bonus/year</p></li>
                              <li> <p class="card-text">Company Trip & Health Care</p></li>
                              <li> <p class="card-text">Attractive Salary</p></li>
                          </ul>
                        </div>
                      </div>
                </div>
                <div class="row describe-job font">
                    <div class="card w-100" style="border:none">
                        <div class="card-body" style="padding-top: 0px;">
                          <h5 class="card-title">Mô tả công việc</h5>
                          <ul>
                            <li> <p class="card-text">Sử dụng CMS (như WordPress) hoặc những kỹ thuật như HTML, CSS, JavaScript (AngularJS/ ReactJS/ VueJS) v.v… để viết Code và tạo Website dành cho PC và Smartphone.</p></li>
                            <li> <p class="card-text">Lên kế hoạch, thiết kế, tạo Website mới.</p></li>
                            <li> <p class="card-text">Kiểm tra hiệu quả của trang web đã tạo.</p></li>
                            <li> <p class="card-text">Chỉnh sửa, cập nhật những trang Web có sẵn.</p></li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="row request-job font">
                    <div class="card w-100" style="border:none">
                        <div class="card-body" style="padding-top: 0px;">
                          <h5 class="card-title">Yêu cầu công việc</h5>
                          <ul>
                              <li><h6 class="card-text">Về kỹ năng</h6>
                                  <ul>
                                    <li> <p class="card-text">Sử dụng CMS (như WordPress) hoặc những kỹ thuật như HTML, CSS, JavaScript (AngularJS/ ReactJS/ VueJS) v.v… để viết Code và tạo Website dành cho PC và Smartphone.</p></li>
                                    <li> <p class="card-text">Lên kế hoạch, thiết kế, tạo Website mới.</p></li>
                                    <li> <p class="card-text">Kiểm tra hiệu quả của trang web đã tạo.</p></li>
                                    <li> <p class="card-text">Chỉnh sửa, cập nhật những trang Web có sẵn.</p></li>
                                  </ul>
                              </li>
                              <li><h6 class="card-text">Kỹ năng bổ sung</h6>
                                <ul>
                                  <li> <p class="card-text">Sử dụng CMS (như WordPress) hoặc những kỹ thuật như HTML, CSS, JavaScript (AngularJS/ ReactJS/ VueJS) v.v… để viết Code và tạo Website dành cho PC và Smartphone.</p></li>
                                  <li> <p class="card-text">Lên kế hoạch, thiết kế, tạo Website mới.</p></li>
                                  <li> <p class="card-text">Kiểm tra hiệu quả của trang web đã tạo.</p></li>
                                  <li> <p class="card-text">Chỉnh sửa, cập nhật những trang Web có sẵn.</p></li>
                                </ul>
                            </li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="row describe-company font">
                    <div class="card w-100" style="border:none">
                        <div class="card-body" style="padding-top: 0px;">
                          <h5 class="card-title">Lý do bạn sẽ chọn chúng tôi</h5>
                          <p class="card-text">At Augen, our people – "Augeneers" – are our business. Our achievements to date have come from employing only the best people in our organisation.
                            Our people set and achieve high goals, and grow in their roles – sometimes beyond their comfort zone – and we empower them with what they need to make the difference.
                            
                            In fact, our clients value our Augeneers as much as we do. It is the type of environment our people enjoy, and why they want to develop their careers with the Augen Software Group.
                            
                            Our team of approx. 45+ staff throughout NZ and VN are a friendly bunch and we tend to treat each other just like family.</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"style="margin-top:10px ;background-color: white;border: 1px solid #e3e3e3;">
    <div class="row job-new">
        <div class="col-12 " >
            <div class="container-fluid" >
                <div class="row">
                    <h4>Các công việc tương tự dành cho bạn</h4>
                </div>
                <div class="row">
                    <div class="col-lg-2 an"></div>
                    <div class="col-lg-8 col-12">
                        <div class="row">
                            <div class="card mb-3 hv" style="max-width: 730px">
                                <div class="row no-gutters">
                                    <div class="col-2 " id="logo">   
                                        <a href=""><img src="../../public/image/logo-axon.png" class="card-img" alt="..."></a>
                                    </div>
                                    <div class="col-9 ">
                                        <div class="card-body">
                                            <a class="card-title"  href="/vieclamit/job/" style="font-size: 22px;font-weight: 450; margin-bottom: 5px;">Frontend Developer ( CSS, JavaScript, JQuery)</a>
                                            <p><i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a></p>
                                            <p><i class="fas fa-map-marked-alt"></i> 67 10th level Saigon Centre Tower 2 Lê Lợi, District 1, Ho Chi Minh</p>
                                            <div class="skills">
                                                <a href="#java">Java</a>
                                                <a href="#php">PHP</a>
                                                <a href="#js">JavaScript</a>
                                            </div>
                                            <p style="margin-bottom: 5px"><small class="text-muted "> 2020/04/25 12:30 </small> </small>
                                        </div>
                                    </div>
                                    <div class="col-1" ><span class="badge badge-warning" style="color:white;; word-wrap: none;">Hot Job</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 an"></div>
                    <div class="col-lg-8 col-12">
                        <div class="row">
                            <div class="card mb-3 hv" style="max-width: 730px">
                                <div class="row no-gutters">
                                    <div class="col-2 " id="logo">   
                                        <a href=""><img src="../../public/image/logo-axon.png" class="card-img" alt="..."></a>
                                    </div>
                                    <div class="col-9 ">
                                        <div class="card-body">
                                            <a class="card-title"  href="/vieclamit/job/" style="font-size: 22px;font-weight: 450;">Frontend Developer ( CSS, JavaScript, JQuery)</a>
                                            <p style="margin-bottom: 5px"><i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a></p>
                                            <p style="margin-bottom: 5px"><i class="fas fa-map-marked-alt"></i> 67 10th level Saigon Centre Tower 2 Lê Lợi, District 1, Ho Chi Minh</p>
                                            <div class="skills">
                                                <a href="#java">Java</a>
                                                <a href="#php">PHP</a>
                                                <a href="#js">JavaScript</a>
                                            </div>
                                            <p style="margin-bottom: 5px"><small class="text-muted "> 2020/04/25 12:30 </small> </small>
                                        </div>
                                    </div>
                                    <div class="col-1 " ><span class="badge badge-warning" style="color:white;;">Hot Job</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
         
    </div>
</div>