 <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="bt">
            <button type="button" data-dismiss="modal" class="btn float-right" ><i class="fas fa-window-close fa-lg "></i></button>
            <div class="container mt-3" style="background-color: rgba(230, 230,250, ); border:none">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="nav-item ">
                  <a class="nav-link active" href="#dangnhap">Đăng nhập</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#dangky">Đăng ký</a>
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content" style="background-color: white;">
                <div id="dangnhap" class="container tab-pane active"><br>
                        <h3 style="text-align:center">Đăng nhập</h3>
                        <p style="text-align: center; margin-top: 0px;">Đăng nhặp đễ khám phá và tìm được công việc tốt cho bạn</p>     
                        <div class="card-body">
                            <form id='check_signin' class="form-signin" action="/user/signin" method="post">
                              <div class="form-label-group">
                                <input type="text" id='geturl' name="url" style="display: none;">
                                <input type="text" id="inputNameLogin" class="form-control" name="username" placeholder="Tên đăng nhập" required autofocus>
                                <label for="inputNameLogin">Tên đăng nhập</label>
                              </div>
                              <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Mật khẩu" required>
                                <label for="inputPassword">Mật khẩu</label>
                              </div>
                              <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                              </div>
                              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng nhập</button>
                            </form>
                      </div>
                </div>
                <div id="dangky" class="container tab-pane fade"><br>
                  <h3 style="text-align:center">Đăng ký</h3>   
                  <p style="text-align: center; margin-top: 0px;">Đăng ký để tìm được những việc bạn mong muốn</p>
                  <div class="card-body">
                      <form id='check_signup' class="form-signin"  action="/user/signup" method="post">
                        <div class="form-label-group">
                          <input type="text"  id="inputFullName" class="form-control" name='name' placeholder="Họ tên" required autofocus>
                          <label for="inputFullName">Họ tên</label>
                        </div>
                        <div class="form-label-group" >
                          <input type="text" id="inputEmail" class="form-control" name='email' placeholder="Email" required autofocus>
                          <label for="inputEmail">Email</label>
                        </div>
                        <div id="check" class="form-label-group" >
                          <input type="text" id="inputName" class="form-control" name='username' placeholder="Tên đăng nhập" required autofocus>
                          <label for="inputName">Tên đăng nhập</label>
                          <div class=' text-center' style="margin:auto">
                            <small id='return' style="display:none ;color: red;"></small>
                          </div>
                        </div>
                     
                        <div class="form-label-group" >
                          <input type="password"id="inputPw" class="form-control" name='password'  placeholder="Mật khẩu" required>
                          <label for="inputPw">Mật khẩu</label>
                        </div>
                        <button id='checkbt' class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Đăng nhập</button>
                      </form>
                </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
 <!-- The Modal -->
 <div class="modal" id="myModal_sigin">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header ">
        <h4 class="modal-title d-flex justify-content-center">Đăng ký thành công</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body text-center">
        Chúc mừng bạn đã đăng ký thành công !!! <br>
        Hãy đăng nhập đễ tìm được công việc phù hớp với bạn.
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer d-flex justify-content-center">
        <button id='oksubmit' type="button" class="btn btn-primary text-center w-50" data-dismiss="modal">Hoàn tất</button>
      </div>
      
    </div>
  </div>
</div>
<script>
        $(document).ready(function(){
            $('#geturl').val($(location).attr('pathname'))
        });
    $('#check_signup').submit(function(event){
      let val = $("#check input[name='username']").val();
      event.preventDefault();
      $.ajax({
        url: '/check/signup',
        method: 'post',
        data :{name: val},
        success: function(data){
            if(data == 0){
              $("#myModal_sigin").modal();
              $("#myModal").modal('hide');
            }else{
               $('#inputName').addClass('border border-danger');
               $('#return').css('display','block');
               $('#return').html('Tên đăng nhập đã tồn tại')
            }
        }
      })
      $('#myModal_sigin').on('show.bs.modal', function() {
        $('#oksubmit').click(function(){
          $('#check_signup').submit().load();
        
        })
      })
  })
   /* $('#check_signin').submit(function(){
      let usn =  $('#check_signin input[name="username"]').val();
      let pws =  $('#check_signin input[name="password"]').val();
      event.preventDefault();
      $.ajax({
        url: '/user/signin',
        method: 'post',
        data :{username: usn , password: pws},
        success: function(data){
            if(data == 0){
              alert('Tài khoản hoặc mặt khẩu không đúng')
              $('#check_signin').submit()
            }else{
              $('#check_signin').submit()
            }
        }
      })
    })*/
</script>
