<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">VIEC JOB</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    
    <div class="collapse navbar-collapse flex-grow-1" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
          <a id="vieclamit" class="nav-link js-scroll-trigger" href="/vieclamit">Việc làm IT</a>
        </li>
        <li class="nav-item">
          <a id="ungtuyen" class="nav-link js-scroll-trigger" href="#portfolio">Ứng tuyển</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Top công ty hàng đầu
          </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Top 10 công ty hàng đầu</a>
              <a class="dropdown-item" href="#">Tất cả công ty</a>
            </div>
        </li>
        </li>
        
      </ul>
    </div>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarResponsive">
      <ul class="navbar-nav text-left">
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" class="menu-user" href="/admin/registration">Nhà tuyển dụng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" class="menu-user" href="#about" data-toggle="modal" data-target="#myModal"><i class="fas fa-user-plus"></i> Đăng ký</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" class="menu-user" href="#login" data-toggle="modal" data-target="#myModal"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
            </li>
      </ul>
  </div>
  </div>
</nav>
<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text" id="intro">
      <div class="intro-lead-in">Welcome To Viec Job !</div>
    </div>
  </div>
</header>
<script src="../public/js/jquery.min.js"></script>