<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:black">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">VIEC JOB</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      
      <div class="collapse navbar-collapse flex-grow-1" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase">
          <li class="nav-item">
            <a id="vieclamit" class="nav-link js-scroll-trigger" href="/vieclamit">Việc làm IT</a>
          </li>
          <li class="nav-item">
            <a id="ungtuyen" class="nav-link js-scroll-trigger" href="#portfolio">Ứng tuyển</a>
          </li>
          <li class="nav-item">
            <a id="topcompany" class="nav-link js-scroll-trigger" href="#about">Top công ty hàng đầu</a>
          </li>
          
        </ul>
      </div>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarResponsive">
        <ul class="navbar-nav text-left">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" class="menu-user" href="#about">Nhà tuyển dụng</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" class="menu-user" href="#about" data-toggle="modal" data-target="#myModal"><i class="fas fa-user-plus"></i> Đăng ký</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" class="menu-user" href="#login" data-toggle="modal" data-target="#myModal"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
              </li>
        </ul>
    </div>
    </div>
</nav>
  <script src="../../public/js/jquery.min.js"></script>