<div class="container">
    <div class="row" style="padding-top: 5px;">
        <div class="col-sm-4 ">
            <h5 class="title">Việc làm IT theo kỹ năng</h5>
            <ul class="list-group" id="title-gr">
                <li class="list-group"><a href="/vieclamit/search?city=all&planets=Java">Java</a></li>
                <li class="list-group"><a href="/vieclamit/search?city=all&planets=PHP">PHP</a></li>
                <li class="list-group"><a href="/vieclamit/search?city=all&planets=JavaScript">JavaScript</a></li>
                <li class="list-group"><a href="/vieclamit/search?city=all&planets=Python">Python</a></li>
                <li class="list-group"><a href="/vieclamit/search?city=all&planets=C++">C++</a></li>
                <li class="list-group"><a href="/vieclamit/search?city=all&planets=C">C#</a></li>
            </ul>
            <a class="dsvl" href="/vieclam-theo-kynang">Xem thêm <i class="fas fa-arrow-alt-circle-right"></i></a>
        </div>
        <div class="col-sm-4 ">
            <h5 class="title">Việc làm IT theo tên</h5>
            <ul class="list-group" id="title-gr">
                <li class="list-group"><a href="/vieclamit/search?city=all&planets=Java Developer">Java Developer</a></li>
                <li class="list-group"><a href="/vieclamit/search?city=all&planets=FondEnd">FondEnd</a></li>
                <li class="list-group"><a href="/vieclamit/search?city=all&planets=Leader">Leader</a></li>

            </ul>
            <a class="dsvl" href="/vieclam-theo-ten">Xem thêm <i class="fas fa-arrow-alt-circle-right"></i></a>
        </div>
        <div class="col-sm-4 ">
            <h5 class="title">Việc làm IT theo Công ty</h5>
            <ul class="list-group" id="title-gr">
                <li class="list-group"><a href="/companies/Grab">Grab</a></li>
                <li class="list-group"><a href="/companies/Axon">Axon</a></li>
                <li class="list-group"><a href="/companies/FPT Software">FPT Software</a></li>
                <li class="list-group"><a href="/companies/TMA">TMA</a></li>
            </ul>
            <a class="dsvl" href="/vieclam-theo-congty">Xem thêm <i class="fas fa-arrow-alt-circle-right"></i></a>
        </div>
    </div>
</div>
<style>
    #title-gr a{
  color: #808184;
}
#title-gr li:hover a{
  color: white;
  text-decoration: none;
}
.title{
  font-family: "Roboto";
  font-size: 18px;
  margin-top: 10px;
}
.title h4{
  margin-left: 5px;
}
.dsvl {
    color: #808184;
    text-decoration: none;
}
.dsvl:hover {
    color: white;
    text-decoration: none;
}
</style>