<div class="container">
    <div class="row" style="padding-top: 5px;">
        <div class="col-sm-4 ">
            <h5 class="title">Việc làm IT theo kỹ năng</h5>
            <ul class="list-group" id="title-gr">
                <li class="list-group"><a href="#">Java</a></li>
                <li class="list-group"><a href="#">PHP</a></li>
                <li class="list-group"><a href="#">.NET</a></li>
                <li class="list-group"><a href="#">Android</a></li>
                <li class="list-group"><a href="#">Android</a></li>
               
            </ul>
            <a class="dsvl" href="/vieclam-kynang">Xem thêm <i class="fas fa-arrow-alt-circle-right"></i></a>
        </div>
        <div class="col-sm-4 ">
            <h5 class="title">Việc làm IT theo chức danh</h5>
            <ul class="list-group" id="title-gr">
                <li class="list-group"><a href="#">Java</a></li>
                <li class="list-group"><a href="#">PHP</a></li>
                <li class="list-group"><a href="#">.NET</a></li>
                <li class="list-group"><a href="#">Android</a></li>
                <li class="list-group"><a href="#">Android</a></li>
            </ul>
            <a class="dsvl" href="/vieclam-chucdanh">Xem thêm <i class="fas fa-arrow-alt-circle-right"></i></a>
        </div>
        <div class="col-sm-4 ">
            <h5 class="title">Việc làm IT theo công ty</h5>
            <ul class="list-group" id="title-gr">
                <li class="list-group"><a href="#">Java</a></li>
                <li class="list-group"><a href="#">PHP</a></li>
                <li class="list-group"><a href="#">PHP</a></li>
                <li class="list-group"><a href="#">.NET</a></li>
                <li class="list-group"><a href="#">Android</a></li>
            </ul>
            <a class="dsvl" href="/vieclam-congty">Xem thêm <i class="fas fa-arrow-alt-circle-right"></i></a>
        </div>
    </div>
</div>
<style>
    #title-gr a{
  color: #808184;
}
#title-gr li:hover a{
  color: white;
  text-decoration: none;
}
.title{
  font-family: "Roboto";
  font-size: 18px;
  margin-top: 10px;
}
.title h4{
  margin-left: 5px;
}
.dsvl {
    color: #808184;
    text-decoration: none;
}
.dsvl:hover {
    color: white;
    text-decoration: none;
}
</style>