<div class="row" >
    <div class="col-12" id="job">
        <h1>Việc làm IT mới dành cho bạn</h1>
    </div>
</div>
<div class="row" >
    <div class="container">
        <div class="row">
            <div class="col-12" id="page">
                <div class="row">
                    <div class="col-6  ">
                        <div class="card mb-3" style="max-width: 540px">
                            <div class="row no-gutters">
                            <div class="col-md-2" id="logo">
                                <img src="../public/image/logo-axon.png" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                <h5 class="card-title">Senior Mobile Software Engineer</h5>
                                <p class="card-text">
                                    <i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a> </br>
                                    <i class="fas fa-map-marked-alt"></i> Hố Chí Minh </br>
                                    <i class="fas fa-code"></i> Javascript , NodeJs , MySQL , Mongo </br>
                                    <button type="button" class="btn btn-warning float-right" style="margin-top:5px">Ứng tuyển</button>
                                </p> 
                                <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small> </p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6  ">
                        <div class="card mb-3" style="max-width: 540px">
                            <div class="row no-gutters">
                            <div class="col-md-2" id="logo">
                                <img src="../public/image/logo-axon.png" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                <h5 class="card-title">Senior Mobile Software Engineer</h5>
                                <p class="card-text">
                                    <i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a></br>
                                    <i class="fas fa-map-marked-alt"></i> Hố Chí Minh </br>
                                    <i class="fas fa-code"></i> Javascript , NodeJs , MySQL , Mongo </br>
                                    <button type="button" class="btn btn-warning float-right" style="margin-top:5px">Ứng tuyển</button>
                                </p> 
                                <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small> </p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6  ">
                        <div class="card smb-3" style="max-width: 540px">
                            <div class="row no-gutters">
                            <div class="col-md-2" id="logo">
                                <img src="../public/image/logo-axon.png" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                <h5 class="card-title">Senior Mobile Software Engineer</h5>
                                <p class="card-text">
                                    <i class="fas fa-dollar-sign"></i> 500-1000 </br>
                                    <i class="fas fa-map-marked-alt"></i> Hố Chí Minh </br>
                                    <i class="fas fa-code"></i> Javascript , NodeJs , MySQL , Mongo </br>
                                    <button type="button" class="btn btn-warning float-right" style="margin-top:5px">Ứng tuyển</button>
                                </p> 
                                <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small> </p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6  ">
                        <div class="card mb-3" style="max-width: 540px">
                            <div class="row no-gutters">
                            <div class="col-md-2" id="logo">
                                <img src="../public/image/logo-axon.png" class="card-img" alt="...">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                <h5 class="card-title">Senior Mobile Software Engineer</h5>
                                <p class="card-text">
                                    <i class="fas fa-dollar-sign"></i><a data-toggle="modal" data-target="#myModal" href="#" style="color: gray;"> Đăng nhập để xem</a> </br>
                                    <i class="fas fa-map-marked-alt"></i> Hố Chí Minh </br>
                                    <i class="fas fa-code"></i> Javascript , NodeJs , MySQL , Mongo </br>
                                    <button type="button" class="btn btn-warning float-right" style="margin-top:5px">Ứng tuyển</button>
                                </p> 
                                <p class="card-text"><small class="text-muted ">Last updated 3 mins ago</small> </p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
               <div class="col-12">
                <nav aria-label="...">
                <ul class="pagination pagination-sm justify-content-center">
                  <li class="page-item active" aria-current="page-1">
                    <span class="page-link">
                      1
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#page-2">2</a></li>
                  <li class="page-item"><a class="page-link" href="#page-3">3</a></li>
                </ul>
              </nav>
            </div>
           
        </div>
    </div>
</div>