<div class="container bg-white " style="border: 1px solid #e3e3e3;">
    <div class="row col-12 title ">
        <h3 class="font">Ngôn ngữ lập trình phổ biến</h3>
    </div>
    <div class="container row" style="margin-left: 37px;">
        <div class="col-lg-4 col-6 languege" >
          <a href="/vieclamit/search?city=all&planets=python">
            <div class="card w-75 text-center h-100" style="margin:0px ; padding:0px">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-sm-6 col-12 text-info rounded-0 bg-warrin bd">
                            <i class="fab fa-python fa-5x text-warning" ></i>
                            <span class="small text-uppercase text-dark"> Python</span>
                    </div>
                    <div class="col-sm-6 col-12 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div>
         </a>
        </div>
        <div class="col-lg-4 col-6 languege">
            <a href="/vieclamit/search?city=all&planets=JavaScript">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-sm-6 col-12 text-info rounded-0 bd">
                            <i class="fab fa-js-square fa-5x text-warning"></i>
                            <span class="small text-uppercase text-dark">JavaScript</span>
                    </div>
                    <div class="col-sm-6 col-12 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div></a>
        </div>
        <div class="col-lg-4 col-6 languege">
            <a href="/vieclamit/search?city=all&planets=PHP">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-sm-6 col-12 text-info rounded-0 bd">
                            <i class="fab fa-php fa-5x "></i>
                            <span class="small text-uppercase text-dark">PHP</span>
                    </div>
                    <div class="col-sm-6 col-12 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div></a>
        </div>
        <div class="col-lg-4 col-6 languege">
            <a href="/vieclamit/search?city=all&planets=java">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-sm-6 col-12 text-info rounded-0 bd">
                        <i class="col-12 fab fa-java fa-5x text-intro"></i>
                        <span class="col-12 small text-uppercase text-dark" >Java</span>
                    </div>
                    <div class="col-sm-6 col-12 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div></a>
        </div>
        <div class="col-lg-4 col-6 languege">
            <a href="/vieclamit/search?city=all&planets=c">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-sm-6 col-12 text-info rounded-0 bd ">
                        <i class="col-12 fab fa-cuttlefish fa-5x text-dark"></i>
                        <span class="col-12 small text-dark">C</span>
                    </div>
                    <div class="col-sm-6 col-12 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div></a>
        </div>
        <div class="col-lg-4 col-6 languege">
            <a href="/vieclamit/search?city=all&planets=Ruby">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-sm-6 col-12 text-info rounded-0 bd">
                            <i class="far fa-gem fa-5x text-danger"></i>
                            <span class="small text-uppercase text-dark"> Ruby</span>
                    </div>
                    <div class="col-sm-6 col-12 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div></a>
        </div>
    </div>
</div>