<div class="container bg-white " style="border: 1px solid #e3e3e3;">
    <div class="row col-12 title">
        <h4>Ngôn ngữ lập trình phổ biến</h4>
    </div>
    <div class="row ">
        <!--
              <div class="col-lg-4 col-6 languege">
            <div class="card w-75">
                <div class="row card-body">
                    <div class="col-sm-6 float-left"> 
                    <i class="fab fa-python fa-5x text-warning" ></i>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="card-title text-center">100</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75">
                <div class="row card-body">
                    <div class="col-sm-6 float-left">
                        <i class="fab fa-js-square fa-5x text-warning"></i>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="card-title text-center">100</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75">
                <div class="row card-body">
                    <div class="col-sm-6 float-left">
                        <i class="fab fa-php fa-5x text-warning "></i>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="card-title text-center">100</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75" >
                <div class="row card-body">
                    <div class="col-sm-6 float-left"> 
                        <i class=" fab fa-java fa-5x text-warning"></i>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="card-title text-center">100</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75">
                <div class="row card-body">
                    <div class="col-sm-6 float-left">
                        <i class="fab fa-cuttlefish fa-5x text-warning">++</i>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="card-title text-center">100</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75">
                <div class="row card-body">
                    <div class="col-sm-6 float-left">
                        <i class="fab fa-cuttlefish fa-5x text-warning"></i>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="card-title text-center">100</h5>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-6 text-info rounded-0 "style="border-right:1px solid #e3e3e3;">
                            <i class="fab fa-python fa-5x text-warning" ></i>
                            <span class="small text-uppercase"> Python</span>
                    </div>
                    <div class="col-6 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-6 text-info rounded-0 "style="border-right:1px solid #e3e3e3;">
                            <i class="fab fa-python fa-5x text-warning" ></i>
                            <span class="small text-uppercase"> Python</span>
                    </div>
                    <div class="col-6 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-6 text-info rounded-0 "style="border-right:1px solid #e3e3e3;">
                            <i class="fab fa-python fa-5x text-warning" ></i>
                            <span class="small text-uppercase"> Python</span>
                    </div>
                    <div class="col-6 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-6 text-info rounded-0 "style="border-right:1px solid #e3e3e3;">
                            <i class="fab fa-python fa-5x text-warning" ></i>
                            <span class="small text-uppercase"> Python</span>
                    </div>
                    <div class="col-6 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-6 text-info rounded-0 "style="border-right:1px solid #e3e3e3;">
                            <i class="fab fa-python fa-5x text-warning" ></i>
                            <span class="small text-uppercase"> Python</span>
                    </div>
                    <div class="col-6 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-6 languege">
            <div class="card w-75 text-center h-100">
                <div class="row p-3 no-gutters rounded">
                    <div class="col-6 text-info rounded-0 "style="border-right:1px solid #e3e3e3;">
                            <i class="fab fa-python fa-5x text-warning" ></i>
                            <span class="small text-uppercase"> Python</span>
                    </div>
                    <div class="col-6 text-info rounded-0 ">
                            <h3 style="margin-top: 20px;">10</h3>
                            <span class="small text-uppercase">Job</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>