<div class="container" style="margin-top: 10px;background:white;box-shadow: 0 4px 8px 0 rgba(26, 25, 25, 0.2);">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" >
          <div class="card" style="text-align:center; border: none;" >
            <div class="avatar" style="background-image: url(../public/image/bg-axon.jfif);height: 250px">
                <a href="/companies/axon"><img alt="" src="../public/image/logo-axon.png" height="60px" width="60px" style=" margin-top: 220px;"></a>
            </div>
            <div class="info" style="margin-top: 25px;">
                <div class="title">
                    <h5>AXON</h5>
                </div> 
                <div class="desc">At Deliveree, we disrupt the logistics industry with technologies.</div>
            </div>
            <div class="rating" style="border-top:1px solid whitesmoke ">
                <i class="fas fa-star text-warning"></i> <i class="fas fa-star text-warning"></i>
                <i class="fas fa-star text-warning"></i> </span><i class="fas fa-star text-warning"></i>
                <i class="far fa-star text-warning"></i>
                <h6 class="rating">
                    4.0</h6>
            </div>
          </div> 
      </div>
      <div class="carousel-item">
        <div class="card" style="text-align:center;border: none;">
          <div class="avatar" style="background-image: url(../public/image/grap-bg.png);height: 250px;">
              <a href="/companies/axon"><img alt="" src="../public/image/logo-axon.png" height="60px" width="60px" style=" margin-top: 220px;"></a>
          </div>
          <div class="info" style="margin-top: 25px;">
              <div class="title">
                  <h5>AXON</h5>
              </div> 
              <div class="desc">At Deliveree, we disrupt the logistics industry with technologies.</div>
          </div>
          <div class="rating" style="border-top:1px solid whitesmoke ">
              <i class="fas fa-star text-warning"></i> <i class="fas fa-star text-warning"></i>
              <i class="fas fa-star text-warning"></i> </span><i class="fas fa-star text-warning"></i>
              <i class="far fa-star text-warning"></i>
              <h6 class="rating">
                  4.0</h6>
          </div>
        </div> 
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next " href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon " aria-hidden="true"></span>
      <span class="sr-only ">Next</span>
    </a>
  </div>
</div>
<style>
</style>
