
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" >
         <div class="container .d-flex" style="background-color:white; margin-top: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
            <div class="row" id="topcpn">
              <div class="col-sm-3 col-md-6 col-lg-4 logo" style="border-right: 1px solid rgb(202, 196, 196);">
                 <center> <a class="navbar-brand navbar-image" href="#"><img src="../public/image/logo-grab.jpg" alt="" ></a></center>
              </div>
              <div class="col-sm-9 col-md-6 col-lg-8">
                <div class="company-info"> 
                  <h1>#1 Grab (Vietnam) Ltd.</h1> 
                  <span>
                   <i class="fas fa-map-marker-alt"></i>
                    District 4, Ho Chi Minh
                   </span><br>
                   <span><i class="fas fa-users"></i> 
                    301-500
                   </span><br>
                   <span><i class="fas fa-flag-usa"></i>
                    United States
                  </span><br>
                  <span><i class="fas fa-calendar-alt"></i>
                    Monday - Friday</span>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="container" style="background-color:white; margin-top: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
          <div class="row" id="topcpn">
            <div class="col-sm-3 col-md-6 col-lg-4" style="border-right: 1px solid rgb(202, 196, 196);">
              <center><a class="navbar-brand navbar-image" href="#"><img src="../public/image/logo-axon.png" alt=""></a></center>
            </div>
            <div class="col-sm-9 col-md-6 col-lg-8">
              <div class="company-info"> 
                <h1>#2 AXON</h1> 
                <span>
                 <i class="fas fa-map-marker-alt"></i>
                  District 4, Ho Chi Minh
                 </span><br>
                 <span><i class="fas fa-users"></i> 
                  301-500
                 </span><br>
                 <span><i class="fas fa-flag-usa"></i>
                  United States
                </span><br>
                <span><i class="fas fa-calendar-alt"></i>
                  Monday - Friday</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-caption d-none d-md-block" style="margin-top: 50px;">
        <h5 style="color:black ;">Nhà tuyển dụng nỗi bật</h5>
      </div> 
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
  </div>
  <Style>
    @media (max-width:739px){
      .company-info {
        display: none;
      }
      .carousel-control-prev{
        display: none;
      }
      .carousel-control-next{
        display: none;
      }
      .logo{
        border-right: 0px white solid;
      }
      .carousel-item{
        max-width: 235px;
        margin-left: 120px;
      }
    }
    @media (max-width:1023px){
      .company-info {
        display: none;
      }
      .carousel-control-prev{
        display: none;
      }
      .carousel-control-next{
        display: none;
      }
      .logo{
        border-right: 0px white solid;
      }
    }
  </Style>
