<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../public/css/topcompanies.css">
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../public/css/formlogin.css">
    <link href="../../public/css/agency.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <div class="row">
            <%- include('elements/headerjob'); -%>
            <%- include('elements/formlogin'); -%>
        </div>
        <div class="row" style="margin-top: 55px;background-color: whitesmoke;">
            <div class="col-12">
            <div class="jumbotron text-center" style="margin-bottom: 0px;background-color: whitesmoke;">
                <div class="title">
                    <h1>TOP #20 những công ty hàng đầu</h1>
                </div>
                <div class="cup" style="margin-top:10px ;margin-bottom: 0px;"><i class="fas fa-trophy fa-2x"></i> <i class="fas fa-trophy fa-4x"></i> <i class="fas fa-trophy fa-2x"></i></div>
              </div>
              <div class="container" style="background:white;border: 1px solid #e3e3e3; height: 1000px;">
                <div class="row">
                    <div class="card flex-row flex-wrap w-100 border-0">
                        <div class=" card-header border-0">
                            <img src="../public/image/logo-grab.jpg" height="200" width="200" alt="">
                        </div>
                        <div class="col-6 card-block px-2">
                            <h4 class="card-title">#1 Grab (Vietnam) Ltd.</h4>
                            <p class="card-text text-secondary">" Grab is more than just the leading ride-hailing and mobile payments platform in Southeast Asia. 
                                We use data and technology to improve everything from transportation to payments and financial services across a 
                                region of more than 620 million people. "</p>
                        </div>
                        <div class="col-3 text-center" style="margin-top:50px">
                                <h1 class="rating-num text-dark">
                                    4.0</h1>
                                <div class="rating">
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-default btn-grey btn-sm bg-secondary" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                            </div>
                        </div>
                    </div>
                    <div class="card flex-row flex-wrap w-100 border-0">
                        <div class=" card-header border-0">
                            <img src="../public/image/logo-grab.jpg" height="200" width="200" alt="">
                        </div>
                        <div class="col-6 card-block px-2">
                            <h4 class="card-title">#1 Grab (Vietnam) Ltd.</h4>
                            <p class="card-text text-secondary">" Grab is more than just the leading ride-hailing and mobile payments platform in Southeast Asia. 
                                We use data and technology to improve everything from transportation to payments and financial services across a 
                                region of more than 620 million people. "</p>
                        </div>
                        <div class="col-3 text-center" style="margin-top:50px">
                                <h1 class="rating-num text-dark">
                                    4.0</h1>
                                <div class="rating">
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-default btn-grey btn-sm bg-secondary" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                            </div>
                        </div>
                    </div>
                    <div class="card flex-row flex-wrap w-100 border-0">
                        <div class=" card-header border-0">
                            <img src="../public/image/logo-grab.jpg" height="200" width="200" alt="">
                        </div>
                        <div class="col-6 card-block px-2">
                            <h4 class="card-title">#1 Grab (Vietnam) Ltd.</h4>
                            <p class="card-text text-secondary">" Grab is more than just the leading ride-hailing and mobile payments platform in Southeast Asia. 
                                We use data and technology to improve everything from transportation to payments and financial services across a 
                                region of more than 620 million people. "</p>
                        </div>
                        <div class="col-3 text-center" style="margin-top:50px">
                                <h1 class="rating-num text-dark">
                                    4.0</h1>
                                <div class="rating">
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-default btn-grey btn-sm bg-secondary" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                            </div>
                        </div>
                    </div>
                    <div class="card flex-row flex-wrap w-100 border-0">
                        <div class=" card-header border-0">
                            <img src="../public/image/logo-grab.jpg" height="200" width="200" alt="">
                        </div>
                        <div class="col-6 card-block px-2">
                            <h4 class="card-title">#1 Grab (Vietnam) Ltd.</h4>
                            <p class="card-text text-secondary">" Grab is more than just the leading ride-hailing and mobile payments platform in Southeast Asia. 
                                We use data and technology to improve everything from transportation to payments and financial services across a 
                                region of more than 620 million people. "</p>
                        </div>
                        <div class="col-3 text-center" style="margin-top:50px">
                                <h1 class="rating-num text-dark">
                                    4.0</h1>
                                <div class="rating">
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-default btn-grey btn-sm bg-secondary" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                            </div>
                        </div>
                    </div>
                    <div class="card flex-row flex-wrap w-100 border-0">
                        <div class=" card-header border-0">
                            <img src="../public/image/logo-grab.jpg" height="200" width="200" alt="">
                        </div>
                        <div class="col-6 card-block px-2">
                            <h4 class="card-title">#1 Grab (Vietnam) Ltd.</h4>
                            <p class="card-text text-secondary">" Grab is more than just the leading ride-hailing and mobile payments platform in Southeast Asia. 
                                We use data and technology to improve everything from transportation to payments and financial services across a 
                                region of more than 620 million people. "</p>
                        </div>
                        <div class="col-3 text-center" style="margin-top:50px">
                                <h1 class="rating-num text-dark">
                                    4.0</h1>
                                <div class="rating">
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-default btn-grey btn-sm bg-secondary" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                            </div>
                        </div>
                    </div>
                    <div class="card flex-row flex-wrap w-100 border-0">
                        <div class=" card-header border-0">
                            <img src="../public/image/logo-grab.jpg" height="200" width="200" alt="">
                        </div>
                        <div class="col-6 card-block px-2">
                            <h4 class="card-title">#1 Grab (Vietnam) Ltd.</h4>
                            <p class="card-text text-secondary">" Grab is more than just the leading ride-hailing and mobile payments platform in Southeast Asia. 
                                We use data and technology to improve everything from transportation to payments and financial services across a 
                                region of more than 620 million people. "</p>
                        </div>
                        <div class="col-3 text-center" style="margin-top:50px">
                                <h1 class="rating-num text-dark">
                                    4.0</h1>
                                <div class="rating">
                                    <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                                      <button type="button" class="btn btn-default btn-grey btn-sm bg-secondary" aria-label="Left Align">
                                        <span class="fas fa-star text-white" aria-hidden="true"></span>
                                      </button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>
<script src="../../public/js/jquery.min.js"></script>
<script src="../../public/js/bootstrap.bundle.min.js"></script>
<script src="../../public/js/agency.min.js"></script>
<script src="../../public/js/forms.js"></script>
<script src="../../public/js/showcpn.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script> 
const choices = new Choices('[data-trigger]',
    {
        searchEnabled: false,
        itemSelectText: '',
    });
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
    });
</script>
</html>