.card-title {
    margin-top: 0px;
    font-weight: 500;
    font-size: 30px;
    font-family: "Roboto Condensed", ;
}
@media (min-width: 768px){
    
}
.skills {
    list-style-type:none;
    height: 25px;
    margin-top: 8px;
    margin-left: 20px;
    margin-bottom: 5px;
}
.skills a {
    font-weight: 50;
    font-family: "Roboto Condensed", sans-serif;
    border: 1px solid gray;
    line-height:1.5;
    border-radius: 4px;
    margin-right: 5px;
    display: inline-block;
    margin-left: 0px;
    text-align: -webkit-match-parent;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.skills a:hover {
    border: 1px solid red;
    text-decoration: none;
    color: red;
}
.font{
    font-weight: 700;
    color: #3d3d3d;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}
.f1{
  font-weight: 500;
    color: #3d3d3d;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
}
.conten {
    font-size: 25px;
    font-weight: 500;
    color: #3d3d3d;
    font-family: "Roboto Condensed", sans-serif;
}
.hv{
    margin-left: 20px;
}
.hv:hover {
    box-shadow: 8px 8px 12px 4px rgba(26, 25, 25, 0.2);
    text-decoration: none;
}
.hv:hover .card-title{
    color: #ffc107;
    text-decoration: none;
}
.card-title{
    color: black;
    text-decoration: none;
}
@media (max-width:1100px){
    .col-xl-1{
       display: none;
    }
    .none{
      display: none;
    }
}
@media (max-width:1200px){
  .col-right{
    margin-top: 10px;
    max-width: 100%;
  }
}
img {
    vertical-align: middle;
    
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 15px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  /* Number text (1/3 etc) */
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .roww:after {
    content: "";
    display: table;
    clear: both;
  }
  .roww{
    background-color: #333333;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 13.66%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  * {
    box-sizing: border-box;
  }
.dv1{        
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.b1{
    height: 50px;
    margin-top: 50px;
}
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display:none;
  margin-right: 20px;
}
.company-info{
  font-size: 17px;
  font-weight: normal;
}
.company span{
  text-align: center;
  margin-bottom: 10px;
  margin-left: 5px;
}
.company a{
  font-weight: normal;
  margin-right: 20px;
  margin-left: 10px;
}