.card{
    margin-top: 5px;
}
.card:hover {
    box-shadow: 8px 8px 12px 4px rgba(26, 25, 25, 0.2);
    text-decoration: none;
    border: 1px solid #e3e3e3;
}
.rank{
    margin-top: 50px;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
@media (max-width:1200px){
    .rank{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.card-title a{
    color: black;
}
.card-title a:hover{
    text-decoration: none;
    color: crimson;
}