
.masthead{
    height: 350px;
}
#intro{
    padding-top: 120px;
    padding-bottom: 0px;
}
#vieclamit{
    color: #ffc107;
    font-size: 50px;
}
#search-title{
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
#jobs{
    margin-left: 20px;
    font-size: 25px;
    font-style: italic;
    line-height: 30px;
    font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
@media (max-width:1000px){
    .col-lg-4{
        display: none;
    }
}
.hv:hover .card{
    box-shadow: 8px 8px 12px 4px rgba(26, 25, 25, 0.2);
}
.hv:hover .card-title{
    color: #ffc107;
}
#list-job a{
    color: black;
    text-decoration: none;
}

a:hover .card-title{
    color: #ffc107;
    text-decoration: none;
}
.badge{
    margin-top: 20px ;
    margin-left: 15px;
    height: 20px;
}
