<!DOCTYPE html>
<html lang="en">
<head>
    <title><%- title %></title>
    <meta content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="../public/css/style.css">
        <link rel="stylesheet" type="text/css" href="../public/css/formlogin.css">
        <link href="../public/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/agency.min.css" rel="stylesheet">
        <link href="../public/css/amsify.suggestags.css" rel="stylesheet">
        <link href="../public/css/formsearch.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <div class="row">
            <%- include('header_2'); -%>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="container bg-white" style="border: 1px solid #e3e3e3;margin-top: 80px;">
                <div class="row title">
                    <h2 class="font" style="margin-left: 15px;margin-top: 15px;"><%- title %></h2>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <ul class='list-gr'>
                            <li class="list"><a href="/vieclamit/search?city=all&planets=Agile">Agile</a></li>
                            <li class="list"><a href="">ASP.NET</a></li>
                            <li class="list"><a href="">Cloud</a></li>
                            <li class="list"><a href="">DevOps</a></li>
                            <li class="list"><a href="">HTML5</a></li>
                            <li class="list"><a href="">JQuery</a></li>
                            <li class="list"><a href="">JavaScript</a></li>
                            <li class="list"><a href="">Php</a></li>
                            <li class="list"><a href="">C++</a></li>
                            <li class="list"><a href="">C</a></li>
                            <li class="list"><a href="">Python</a></li>
                            <li class="list"><a href="">Java</a></li>
                            <li class="list"><a href="">Css</a></li>
                            <li class="list"><a href="">Agile</a></li>
                            <li class="list"><a href="">ASP.NET</a></li>
                            <li class="list"><a href="">Cloud</a></li>
                            <li class="list"><a href="">DevOps</a></li>
                            <li class="list"><a href="">HTML5</a></li>
                            <li class="list"><a href="">JQuery</a></li>
                            <li class="list"><a href="">JavaScript</a></li>
                            <li class="list"><a href="">Php</a></li>
                            <li class="list"><a href="">Agile</a></li>
                            <li class="list"><a href="">Java</a></li>
                            <li class="list"><a href="">Css</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/bootstrap.bundle.min.js"></script>
<script src="../public/js/agency.min.js"></script>
<script src="../public/js/forms.js"></script>
<script type="text/javascript" src="../public/js/jquery.amsify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<style>
    .list-gr{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 5px;
        list-style-type: none;

    }
    .col-12{
        max-width: 90%;
        margin-left: 50px;
    }
    .list{
        text-decoration-line: none;
    }
    .list a{
        text-decoration: none;
        color: #808184;
        font-size: 18px;
    }
    body{
        background-color: whitesmoke;
    }
</style>
</html>