<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="color: gray;">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">VIEC JOB</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse flex-grow-1" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/vieclamit">Việc làm IT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Ứng tuyển</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              công ty hàng đầu
            </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/top-companies">Top những công ty hàng đầu</a>
                <a class="dropdown-item" href="/companies">Tất cả công ty</a>
              </div>
          </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarResponsive">
      <div class="dropdown">
            <button class="logo btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="../../public/image/logo-grab.jpg" > <%= nameuser %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button"><a href="/profile"><i class="fas fa-user-edit"></i> Tài khoản</a></button>
              <button class="dropdown-item" type="button"><a href="/follow"><i class="fas fa-paper-plane"></i> Theo dõi</a></button>
              <button class="dropdown-item" type="button"><a href="/ungtuyen"><i class="fas fa-address-card"></i> Đã ứng tuyển</a></button>
              <button class="dropdown-item" type="button"><a href="/logout/user"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></button>
            </div>
      </div>
  </div>
    </div>
</nav>
<script src="../../public/js/jquery.min.js"></script>
  <style>
    .logo img{
      height: 30px;
      border-radius:50px;
      width: 30px;
    }
    #mainNav{
        background-color: black;
    }
    .dropdown-menu button:hover a{
    text-decoration: none;
    }
    .dropdown-menu a{
    color: black;
    }
  </style>