<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="../public/css/formlogin.css">
        <link href="../public/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/agency.min.css" rel="stylesheet">
        <link href="../public/css/amsify.suggestags.css" rel="stylesheet">
        <link href="../public/css/formsearch.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="container-md">
        <div class="row">
            <%- include('header_2') -%>
        </div>
        <div class="row" >
            <div class="container " style=" margin-top: 80px;margin-bottom: 5px;">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7 col-8 bg-white"  style="border: 1px solid #e3e3e3;">
                        <div class="col-xl-12">
                            <h3 class="font text-title">Các công việc ứng tuyển</h3> 
                            <div class="row justify-content-center">
                                    <div class="c2 card w-30">
                                    <div class="card-body text-center row">
                                        <p class="card-text text-white float-left col-lg-3"><i class="fas fa-briefcase fa-4x"></i></p>
                                        <div class="content col-lg-9 text-center">
                                            <p class="n1 card-text text-white mx-auto ">Đã ứng tuyển</p>
                                            <p class="n2 card-text text-white mx-auto"> 3 công việc</p>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <div class="row " style="margin-top:10px">
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="card w-100" >
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img class="" src="../../public/image/logo-axon.png" height="170px" alt="Card image cap">
                                            </div>
                                            <div class="card-body">
                                            <h4 class="card-title">JavaScript Developer</h4>
                                            <p class="c3 card-text">Địa chỉ: <span class="text-primary">Thành phố hồ chí minh</span></p>
                                            <p class="c3 card-text">Công ty: <span class="text-primary">FPT Solfware</span></p>
                                            <p class="c3 card-text">Trạng thái: <span class="text-primary">Đang chờ duyệt</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="card w-100" >
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img class="" src="../../public/image/logo-axon.png" height="170px" alt="Card image cap">
                                            </div>
                                            <div class="card-body">
                                            <h4 class="card-title">JavaScript Developer</h4>
                                            <p class="c3 card-text">Địa chỉ: <span class="text-primary">Thành phố hồ chí minh</span></p>
                                            <p class="c3 card-text">Công ty: <span class="text-primary">FPT Solfware</span></p>
                                            <p class="c3 card-text">Trạng thái: <span class="text-primary">Đang chờ duyệt</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-center">
                                    <div class="card w-100" >
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img class="" src="../../public/image/logo-axon.png" height="170px" alt="Card image cap">
                                            </div>
                                            <div class="card-body">
                                            <h4 class="card-title">JavaScript Developer</h4>
                                            <p class="c3 card-text">Địa chỉ: <span class="text-primary">Thành phố hồ chí minh</span></p>
                                            <p class="c3 card-text">Công ty: <span class="text-primary">FPT Solfware</span></p>
                                            <p class="c3 card-text">Trạng thái: <span class="text-primary">Đang chờ duyệt</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-3">
                        <div class="col-xl-12 bg-white" style="border: 1px solid #e3e3e3;">
                            <h4 class="font text-title">Các nhà tuyển dụng</h4>
                            <div class="row">
                                <div class="col-12">
                                        <div class="c1 card w-100"  style="width: 12rem;">
                                            <img class="card-img-top" src="../../public/image/logo-grab.jpg" alt="Card image cap">
                                        </div>
                                </div>
                                <div class="col-12">
                                    <div class="c1 card w-100"  style="width: 12rem;">
                                        <img class="card-img-top" src="../../public/image/logo-grab.jpg" alt="Card image cap">
                                    </div>
                            </div>
                                <div class="col-12">
                                    <div class="c1 card w-100"  style="width: 12rem;">
                                        <img class="card-img-top" src="../../public/image/logo-grab.jpg" alt="Card image cap">
                                    </div>
                            </div>  <div class="col-12">
                                <div class="c1 card w-100"  style="width: 12rem;">
                                    <img class="card-img-top" src="../../public/image/logo-grab.jpg" alt="Card image cap">
                                </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/bootstrap.bundle.min.js"></script>
<script src="../public/js/agency.min.js"></script>
<script src="../public/js/forms.js"></script>
<script type="text/javascript" src="../public/js/jquery.amsify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<style>
    body{
        background-color: whitesmoke;
    }
    .font{
    font-size: 28px;
    font-weight: 400;
    line-height: 60px;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    margin-bottom: 20px;
    }

    .c2{
        margin-bottom: 10px;
        margin-left: 50px;
        border: none;
    }
    .c1{
        margin-bottom: 10px;
        border: none;
    }
    .c1:hover{
        border: 3px solid #a7a2a2;
    }
    .content .n1{
        line-height: 35px;
        font-weight: 400;
        font-family: nunito,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    }
    .c2{
        background: -webkit-linear-gradient(right, #706bb3, #0eb7e6);
    }
    .c2:hover{
        border: 1px solid #a7a2a2;
    }
    .c3{
        line-height: 20px;
    }
    .card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
    .card{
        margin-bottom: 10px;
    }

</style>
</html>